export(caar)
export(cadar)
export(caddr)
export(cadr)
export(car)
export(cdddr)
export(cddr)
export(cdr)
export(for.each)
export(is.even)
export(is.nil)
export(is.odd)
export(last)
export(nil)
export(pair.fold.right)
export(pairwise)
export(zip)
export(zip.c)
export(zip.list)
export(zip.with.names)
